.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.container img {
  height: 3rem;
  width: 3rem;

  margin: 1rem 0;
}

.container .navigationMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .navigationMenu>div {
  display: flex;
  flex-direction: row ;
  align-items: center;
}

.container div.active::before {
  content: url('/icons/hover.svg');
}

.container .navigationMenu a {
  border: none;
  background-color: transparent;
  padding: 1rem 1.25rem;
}

.container a:hover {
  cursor: pointer;
}

.container .navigationMenu:nth-child(2) {
  margin-bottom: 2rem;
}

.container a img {
  height: 2rem;
  width: 2rem;

}

.container div.notActive {
  margin-left: 4px;
}